<div class="my-4">
    <!-- Form tìm kiếm -->
    <partial name="_SearchForm" />

    <!-- Các chuyên mục/chủ đề -->
    @await Component.InvokeAsync("CategoriesWidget")

    <!-- Top tác giả nổi bật nhất nhất -->
    @await Component.InvokeAsync("BestAuthors")

    <!-- Tag cloud -->
    @await Component.InvokeAsync("TagCloud")

    <!-- Top bài viết nổi bật -->
    @await Component.InvokeAsync("FeaturedPosts")

    <!-- Top bài viết ngẫu nhiên -->
    @await Component.InvokeAsync("RandomPosts")

    <!-- Top bài viết theo tháng gần nhất -->
    @await Component.InvokeAsync("Archives")

    <!-- Đăng ký nhận tin mới -->
    <partial name="NewsletterForm" />
</div>
