<div class="mb-4">
    <h3 class="text-success mb-2">
        Đăng ký nhận tin mới
    </h3>

    <form asp-controller="Newsletter" asp-action="Subscribe" method="post">
        <input type="email" name="email" placeholder="Nhập email của bạn" required />
        <button type="submit">Đăng ký</button>
    </form>
</div>